
<footer class="footer">
	<div class="footer-part1">
		<a href="/contact">
			<div class="contact-btn-box">
			<button class="contact-btn">CONTACT</button>
			</div>
		</a>
	</div>
	<div class="row foot-bottom">
		<div class="col-4 left">
			<p class="footer-oyester">OYESTER</p>
			<p class="footer-hotel">HOTELS</p>
			 <p class="Copyright">© Copyright 2021 OYESTER</p>
		</div>
		<div class="col-4 middle">
			<a href="/" class="footer-about">About us</a>
			<br>
			<a href="/contact" class="footer-about">Contact us</a>
		</div>
		<div class="col-4 right">
		 <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
     
    </div>
		</div>
	</div>
</footer>

</body>
</html>