<!DOCTYPE html>
<html>
<head>
	<title>OYESTER</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">

  <!-- Font Awesome -->
  
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  

  <!-- Bootstrap Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<body>
	<div class="top-container">
		 <nav class="navbar navbar-expand-lg navbar-dark ">
    	
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto navi">
            <li class="nav-item ">
                <a href="/" >Home</a> 
            </li>
            <li class="nav-item ">
                <a href="/facilities" >Facilities</a> 
            </li>
            <li class="nav-item ">
                <a href="/rooms" >Rooms</a> 
            </li>
             <li class="nav-item nahh ">
                <a  href="/contact" >Contact-us</a> 
            </li>
        </ul>
        </div>
    
    </nav>
		 <div class="row box">
		 <div class="col-lg-6 left-column">
		 <div class="black-button">
		 	<span>OYESTER</span>
		 	
		 </div>
		 </div>
		 <div class="col-lg-6 right-column">
		 
   
        
		 <span class="sub-heading-1">WELCOME</span>
		 <span class="sub-heading-3">TO</span>
		 <span class="heading">OYESYER</span>
		 <span class="sub-heading-2">HOTELS</span>
		 <div class="row">
		 <div class="col-lg-8">
		 <p class="description">Chilling out on the bed in your hotel room watching television, while wearing your own pajamas, is sometimes the best part of a vacation.</p>
		 <div class="book-now">
		 <button class="book-btn">BOOK NOW</button>
		 </div>
		 </div>
		 </div>
		 </div>
		 
	</div>

<footer class="footer">
	<div class="footer-part1">
		<a href="/contact">
			<div class="contact-btn-box">
			<button class="contact-btn">CONTACT</button>
			</div>
		</a>
	</div>
	<div class="row foot-bottom">
		<div class="col-4 left">
			<p class="footer-oyester">OYESTER</p>
			<p class="footer-hotel">HOTELS</p>
			 <p class="Copyright">© Copyright 2021 OYESTER</p>
		</div>
		<div class="col-4 middle">
			<a href="/" class="footer-about">About us</a>
			<br>
			<a href="/contact" class="footer-about">Contact us</a>
		</div>
		<div class="col-4 right">
		 <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
     
    </div>
		</div>
	</div>
</footer>

</body>
</html>