.top-container{
	background-color: #FF0A0ACC;
	margin:0;
	height: 500px;

}

.heading{

}
a{
   font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;

}
.no{
	opacity: 0;
}
.nav-item{
	padding-right: 20px;
}
